#shark 
{
	left:100px; top:400px;
	width: 200px; height: 147px;
	position: absolute;
	-webkit-animation-name: shark;
	-webkit-animation-duration: 10s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	-webkit-transform:scaleX(-1);

	-o-animation-name: shark;
	-o-animation-duration: 10s;
	-o-animation-timing-function: linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;	
	-o-transform:scaleX(-1);

	-moz-animation: shark;
	-moz-animation-duration: 10s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;	
	-moz-transform:scaleX(-1);

	-ms-animation-name: shark;
	-ms-animation-duration: 10s;
	-ms-animation-timing-function: linear;
	-ms-animation-iteration-count: infinite;
	-ms-animation-play-state: running;
	-ms-transform:scaleX(-1);
}
@-webkit-keyframes shark
{
	0%   {left: 100px;top:200px;-webkit-transform: scaleX(-1);}
	10%   {left:400px;top:200px;-webkit-transform: scaleX(-1);}
    30%  {left:700px;top:200px;-webkit-transform: scaleX(-1);}
	50%  {left:1000px;top:200px;-webkit-transform: scaleX(-1);}
	60%  {left:800px;top:100px;-webkit-transform:scaleX(1);}
	70%  {left:500px;top:100px;-webkit-transform:scaleX(1);}
	80%  {left:300px;top:100px;-webkit-transform:scaleX(1);}
	90%  {left:150px;top:150px;-webkit-transform:scaleX(1);}
	100% {left:100px;top:200px;-webkit-transform:scaleX(-1);}
}
@-moz-keyframes shark {
	0%   {left: 100px;top:200px;-moz-transform: scaleX(-1);}
	10%   {left:400px;top:200px;-moz-transform: scaleX(-1);}
    30%  {left:700px;top:200px;-moz-transform: scaleX(-1);}
	50%  {left:1000px;top:200px;-moz-transform: scaleX(-1);}
	60%  {left:800px;top:100px;-moz-transform:scaleX(1);}
	70%  {left:500px;top:100px;-moz-transform:scaleX(1);}
	80%  {left:300px;top:100px;-moz-transform:scaleX(1);}
	90%  {left:150px;top:150px;-moz-transform:scaleX(1);}
	100% {left:100px;top:200px;-moz-transform:scaleX(-1);}
}
@-ms-keyframes shark {
	0%   {left: 100px;top:200px;-ms-transform: scaleX(-1);}
	10%   {left:400px;top:200px;-ms-transform: scaleX(-1);}
    30%  {left:700px;top:200px;-ms-transform: scaleX(-1);}
	50%  {left:1000px;top:200px;-ms-transform: scaleX(-1);}
	60%  {left:800px;top:100px;-ms-transform:scaleX(1);}
	70%  {left:500px;top:100px;-ms-transform:scaleX(1);}
	80%  {left:300px;top:100px;-ms-transform:scaleX(1);}
	90%  {left:150px;top:150px;-ms-transform:scaleX(1);}
	100% {left:100px;top:200px;-ms-transform:scaleX(-1);}
}
@-o-keyframes shark {
	0%   {left: 100px;top:200px;-o-transform: scaleX(-1);}
	10%   {left:400px;top:200px;-o-transform: scaleX(-1);}
    30%  {left:700px;top:200px;-o-transform: scaleX(-1);}
	50%  {left:1000px;top:200px;-o-transform: scaleX(-1);}
	60%  {left:800px;top:100px;-o-transform:scaleX(1);}
	70%  {left:500px;top:100px;-o-transform:scaleX(1);}
	80%  {left:300px;top:100px;-o-transform:scaleX(1);}
90%  {left:150px;top:150px;-o-transform:scaleX(1);}
	100% {left:100px;top:200px;-o-transform:scaleX(-1);}    
}

#fish1
{
	left  :200px; top: 100px;
	position: absolute;
	-webkit-animation-name:fish1;
	-webkit-animation-duration: 8s;
	-webkit-animation-timing-function:linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;

	-o-animation-name:fish1;
	-o-animation-duration: 8s;
	-o-animation-timing-function:linear;
	-o-animation-iteration-count: infinite;
	-o-animation-play-state: running;

	-moz-animation-name:fish1;
	-moz-animation-duration: 8s;
	-moz-animation-timing-function:linear;
	-moz-animation-iteration-count: infinite;
	-moz-animation-play-state: running;

	-ms-animation-name:fish1;
	-ms-animation-duration: 8s;
	-ms-animation-timing-function:linear;
	-ms-animation-iteration-count: infinite;
	-ms-animation-play-state: running;
}
@-webkit-keyframes fish1
{
	0%{left:100px; top:100px;-webkit-transform: scaleX(1);}
	25%{left: 300px;top: 0px;-webkit-transform: scaleX(1);}
    50%{left: 1000px;top: 100px;-webkit-transform: scaleX(1);}
    60%{left : 900px;top :  0px;-webkit-transform: scaleX(-1);}
    75%{left : 600px;top :100px;-webkit-transform: scaleX(-1);}
    80%{left :500px;top :100px;-webkit-transform: scaleX(-1);}
    90%{left :200px;top :100px;-webkit-transform: scaleX(-1);}
	100%{left :100px;top :100px;-webkit-transform: scaleX(1);}
}
@-o-keyframes fish1 {
	0%{left:100px; top:100px;-o-transform: scaleX(1);}
	25%{left: 300px;top: 0px;-o-transform: scaleX(1);}
    50%{left: 1000px;top: 100px;-o-transform: scaleX(1);}
    60%{left : 900px;top :  0px;-o-transform: scaleX(-1);}
    75%{left : 600px;top :100px;-o-transform: scaleX(-1);}
    80%{left :500px;top :100px;-o-transform: scaleX(-1);}
    90%{left :200px;top :100px;-o-transform: scaleX(-1);}
	100%{left :100px;top :100px;-o-transform: scaleX(1);}
}
@-ms-keyframes fish1{
	0%{left:100px; top:100px;-ms-transform: scaleX(1)}
25%{left: 300px;top: 0px;-ms-transform: scaleX(1);}
    50%{left: 1000px;top: 100px;-ms-transform: scaleX(1);}
    60%{left : 900px;top :  0px;-ms-transform: scaleX(-1);}
    75%{left : 600px;top :100px;-ms-transform: scaleX(-1);}
    80%{left :500px;top :100px;-ms-transform: scaleX(-1);}
    90%{left :200px;top :100px;-ms-transform: scaleX(-1);}
100%{left :100px;top :100px;-ms-transform: scaleX(1);}
}
@-moz-keyframes fish1 {
	0%{left:100px; top:100px;-moz-transform: scaleX(1);}
	25%{left: 300px;top: 0px;-moz-transform: scaleX(1);}
    50%{left: 1000px;top: 100px;-moz-transform: scaleX(1);}
    60%{left : 900px;top :  0px;-moz-transform: scaleX(-1);}
    75%{left : 600px;top :100px;-moz-transform: scaleX(-1);}
    80%{left :500px;top :100px;-moz-transform: scaleX(-1);}
    90%{left :200px;top :100px;-moz-transform: scaleX(-1);}
	100%{left :100px;top :100px;-moz-transform: scaleX(1);}

}
#crab

{
    position: absolute;
    width: 150px;
    bottom: 0px;
    right: 0px;
    left:0px;
	-webkit-animation: crab 20s ease-in-out 0s infinite;
	-o-animation: crab 20s ease-in-out 0s infinite;
    -moz-animation: crab 20s ease-in-out 0s infinite;
	-ms-aninamtion: crab 20s ease-in-out 0s infinite;
}
#crab img{
    right:100px;width:100%; top:400px;
	height: 147px;
	
}

@-webkit-keyframes crab{
    0%{ left: 0px;right: 0px;}
    20%{right:250px;left: 200px;}
    40%{right:500px;left: 300px;}
    60%{right:1000px; left: 400px;;}
    80%{right:600px;left: 450px;}
    90%{right:300px;left: 300px;}
    100%{left: 0px;right:0px;}
}
@-o-keyframes crab{
    0%{ left: 0px;right: 0px;}
    20%{right:250px;left: 200px;}
    40%{right:500px;left: 300px;}
    60%{right:1000px; left: 400px;;}
    80%{right:600px;left: 450px;}
    90%{right:300px;left: 300px;}
    100%{left: 0px;right:0px;}
}
@-moz-keyframes crab{
    0%{ left: 0px;right: 0px;}
    20%{right:250px;left: 200px;}
    40%{right:500px;left: 300px;}
    60%{right:1000px; left: 400px;;}
    80%{right:600px;left: 450px;}
    90%{right:300px;left: 300px;}
    100%{left: 0px;right:0px;}
}
@-ms-keyframes crab{
    0%{ left: 0px;right: 0px;}
    20%{right:250px;left: 200px;}
    40%{right:500px;left: 300px;}
    60%{right:1000px; left: 400px;;}
    80%{right:600px;left: 450px;}
    90%{right:300px;left: 300px;}
    100%{left: 0px;right:0px;}
}
#squid {
    left: 200px; 
    bottom: 0; 
    width: 200px; height: 147px;
    position: absolute;
    animation-name: squid;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes squid {
    0%   { bottom: 0px; }       
    25%  { bottom: 200px; }
    50%  { bottom: 400px; }
    75%  { bottom: 600px; }
    100% { bottom: 800px; }     
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; 
    overflow: hidden; 
}

.bubble {
    width: 30px; 
    height: 30px; 
    background-color: white; 
    border-radius: 50%; 
    position: absolute; 
    bottom: -50px; 
    animation: float 3s linear infinite; 
}



@keyframes float {
    0% {
        transform: translateY(0); /
    }
    100% {
        transform: translateY(-500px);
        opacity: 0; 
    }
}
.bubble:nth-child(1) {
    left: 20%; 
    animation-delay: 0s; 
}

.bubble:nth-child(2) {
    left: 40%; 
    animation-delay: 0.5s; 
}

.bubble:nth-child(3) {
    left: 60%; 
    animation-delay: 1s; 
}

.bubble:nth-child(4) {
    left: 80%; /
	animation-delay : 1.5s; 
}

.bubble:nth-child(5) {
    left: 50%; 
    animation-delay: 2s; 
}